.nav {
  grid-area: n;
  background-color: #edeef0;
  font-size: 20px;
  border-right: 2px solid #0177fe;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.item {
  /* margin-bottom: 10px; */
  padding-top: 5px;
  padding-bottom: 5px;
}

.item a {
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}

.item a.activeLink {
  font-size: 22px;
  display: block;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #edeef0 15%, #0177fe);
}
